[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Sphinx = "*"
arcade = "*"

[packages."sphinxcontrib.youtube"]
git = "git://github.com/shomah4a/sphinxcontrib.youtube.git"
